.main-content {
  padding: 20px;
  text-align: center;
}

.main-content h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

/* Product grid styles */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.product-item {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-item h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.product-item p {
  font-size: 1rem;
  color: #555;
  margin-top: 5px;
  margin-bottom: 3px;
}
.product-item a{
  background-color: #232f3e;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: orangered;
  cursor: pointer;
  margin-top: 4px;

}
 


/* Footer styles */
.footer {
  background-color: #232f3e;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
.carNames{
  color: black;
}
